<div class="section">
  <div class="section-header">
    <div class="icon">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </div>
    <div class="customer-profile">
      <h5>Customer Profile</h5>
      <small>Robert Smith</small>
    </div>
    <div class="button-right">
      <button class="btn btn-default btn-sm">Close</button>
    </div>
  </div>
  <div class="section-body">
    <div class="section-information">
      <div class="sectio-data">
        <div>2145567432</div>
        <div>nallagotu.p@hcl.com</div>
      </div>
      <div class="section-data-desc">
        6543 Second Sheet Product NY 146*6 US
      </div>
    </div>
    <div class="product-information-cart">
      <div class="items">
        <ul>
          <li>
            <a href="#">Intrested Products</a>
          </li>
        </ul>
      </div>
      <div class="items-list">
        <div class="item-list-1">
          <div class="image-box">
            <img src="../../assets/images/fan-product.png" alt="fan-product">
          </div>
          <div class="image-des">
            <div class="des-heading">
                Hunter Regalla 60-in New Bronze Celling Fan
            </div>
            <div class="des-price">
                $200.00
            </div>
          </div>
        </div>
        <div class="item-list-2">
          <div class="image-box">
            <img src="../../assets/images/air-cond.png" alt="fan-product">
          </div>
          <div class="image-des">
            <div class="des-heading">
                Frigidaire Window Air Conditioner 12000-BTU
            </div>
            <div class="des-price">
                $150.00
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
